<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Rahmat Hidayat">

  <!-- CSS Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <!-- CSS File Linked -->
  <link rel="stylesheet" href="/interactivewebstyle.css">
  
  <!-- CSS File for Icon -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  <title>Rock Paper Scissor Game</title>
  <link rel="icon" href="./assets/Title Icon.svg" type="image/svg+xml">
</head>

<body>
<!-- Homepage - Game Screen -->
  <!-- Navigation Bar -->
  <div class="navBar">
    <button type="button" class="btn btn-lg"><a href="./1. Static Website.html"><i class="fas fa-less-than fa-3x"></i></a></button>
    <img class="pageLogo" src="./assets/Rock Paper Scissor Logo.png" alt="Game Logo">
    <h2 class="pageTitle">ROCK PAPER SCISSORS</h2>
  </div>

  <!-- Game Board -->
  <div class="container">
    <div class="player">
      <h3>PLAYER</h3>
      <div id="rockImagePlayer"><img id="rockPlayer" class="rockhand hand rock" src="./assets/rock.png" alt="Rock Image"></div>
      <div id="paperImagePlayer"><img id="paperPlayer" class="paperhand hand paper" src="./assets/paper.png" alt="Paper Image"></div>
      <div id="scissorImagePlayer"><img id="scissorPlayer" class="scissorhand hand scissor" src="./assets/scissor.png" alt="Scissor Image"></div>
    </div>

    <div class="vs">
      <div class="justVS"><h1 class="vsText">VS</h1></div>
      <div class="refreshImage"><a href="/interactivewebsite.ejs"><img id="refresh" class="refreshPage" src="./assets/refresh.png" alt="Refresh Image"></a></div>
    </div>
    
    <div class="computer">
      <h3>COM</h3>
      <div id="rockImageComputer"><img class="hand rock" id="rockComputer" src="./assets/rock.png" alt="Rock Image"></div>
      <div id="paperImageComputer"><img class="hand paper" id="paperComputer" src="./assets/paper.png" alt="Paper Image"></div>
      <div id="scissorImageComputer"><img class="hand scissor" id="scissorComputer" src="./assets/scissor.png" alt="Scissor Image"></div>
    </div>
  </div>

  <!-- JavaScript File Linked -->
  <script src="/interactivewebscript.js"></script>

</body>
</html>